In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "track": ["rosenrot", "psychosocial", "links 234", "custer", "blind", "all hope is gone", "the devil in i", "people=shit"],
    "city": ["Shelbyville", "Springfield", "Shelbyville", "Shelbyville", "Shelbyville", "Springfield", "Springfield", "Springfield"],
    "day": ["monday", "wednesday", "friday", "monday", "wednesday", "friday", "monday", "wednesday"]
})
df

              track         city        day
0          rosenrot  Shelbyville     monday
1      psychosocial  Springfield  wednesday
2         links 234  Shelbyville     friday
3            custer  Shelbyville     monday
4             blind  Shelbyville  wednesday
5  all hope is gone  Springfield     friday
6    the devil in i  Springfield     monday
7       people=shit  Springfield  wednesday

In [5]:
# По умолчанию аггрегирующая функция усредняет числовые признаки

pd.pivot_table(df, index=["city"], columns=["day"], aggfunc=(len))

             track
day         friday monday wednesday
city
Shelbyville      1      2         1
Springfield      1      1         2