# **Гипотезы**
1. Чем больше рейтинг imdb, тем больше доход.
<br>
2. Большая часть фильмов на английском была снята в США.
<br>
3. Чем больше длительность, тем больший бюджет потребовался.

In [67]:
import pandas as pd
df = pd.read_csv(r"..\data\Lab1\Dataset1.csv")
df.head(6)

,color,Director_Name,num_Critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000;
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0;
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000;
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000;
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0;
5,Colour,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000;

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   color                       5025 non-null   object
 1   Director_Name               4872 non-null   object
 2   num_Critic_for_reviews      4927 non-null   float64
 3   duration                    4959 non-null   float64
 4   director_Facebook_likes     4872 non-null   float64
 5   actor_3_Facebook_likes      4953 non-null   float64
 6   actor_2_name                4963 non-null   object
 7   Actor_1_Facebook_likes      4968 non-null   float64
 8   gross                       4104 non-null   float64
 9   genres                      4974 non-null   object
 10  actor_1_name                4968 non-null   object
 11  movie_Title                 4974 non-null   object
 12  num_voted_users             4974 non-null   float64
 13   cast_total_facebook_likes  4974 non-null   float64
 14  actor_3_name                4953 non-null   object
 15  facenumber_in_poster        4961 non-null   float64
 16  plot_keywords               4827 non-null   object
 17  movie_imdb_link             4974 non-null   object
 18  num_user_for_reviews        4956 non-null   float64
 19  language                    4961 non-null   object
 20  country                     4971 non-null   object
 21  content_rating              4677 non-null   object
 22  budget                      4494 non-null   float64
 23  title_year                  4869 non-null   float64
 24  actor_2_facebook_likes      4963 non-null   float64
 25  imdb_score                  4974 non-null   float64
 26  aspect_ratio                4654 non-null   float64
 27  movie_facebook_likes;       4974 non-null   object
dtypes: float64(15), object(13)
memory usage: 1.1+ MB

Количество значений столбцов разное => есть пустые значения.<br>
Есть пробелы в названиях столбцов.<br>
Столбцы начинаются с заглавных и строчных букв.<br>

In [69]:
df.columns

Index(['color', 'Director_Name', 'num_Critic_for_reviews', 'duration',
       'director_Facebook_likes', 'actor_3_Facebook_likes', 'actor_2_name',
       'Actor_1_Facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_Title', 'num_voted_users', ' cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes;'],
      dtype='object')

In [70]:
df = df.rename(
    columns= {
        'Director_Name' : 'director_name',
        'num_Critic_for_reviews' : 'num_critic_for_reviews',
        'director_Facebook_likes' : 'director_facebook_likes',
        'actor_3_Facebook_likes' : 'actor_3_facebook_likes',
        'Actor_1_Facebook_likes' : 'actor_1_facebook_likes',
        'movie_Title' : 'movie_title',
        ' cast_total_facebook_likes' : 'cast_total_facebook_likes',
        'movie_facebook_likes;' : 'movie_facebook_likes'
    }
)
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [71]:
# Кол-во незаполненных ячеек в данных 
df.isna().sum()

color                         18
director_name                171
num_critic_for_reviews       116
duration                      84
director_facebook_likes      171
actor_3_facebook_likes        90
actor_2_name                  80
actor_1_facebook_likes        75
gross                        939
genres                        69
actor_1_name                  75
movie_title                   69
num_voted_users               69
cast_total_facebook_likes     69
actor_3_name                  90
facenumber_in_poster          82
plot_keywords                216
movie_imdb_link               69
num_user_for_reviews          87
language                      82
country                       72
content_rating               366
budget                       549
title_year                   174
actor_2_facebook_likes        80
imdb_score                    69
aspect_ratio                 389
movie_facebook_likes          69
dtype: int64

Для проверки гипотез нам понадобятся приведённые ниже столбцы, на остальные можно не обращать внимания.
<br>
 1. imdb_score
 2. gross
 3. language
 4. country
 5. budget
 6. duration
<br>

Много пропущенных значений в столбцах gross и budget, так как компании не всегда готовы раскрывать финансовую сторону вопроса по каким-либо причинам. Это может значительно повлиять на проверку 1 и 3 гипотез.

Заменим все пустые значения на unknown, кроме числовых столбцов, участвующих в исследовании.

In [72]:
columns_to_replace = df.columns
skip_columns = ["imdb_score", "gross", "budget", "duration", "title_year"]

for column in columns_to_replace:
    if column in skip_columns:
        continue
    df[column] = df[column].fillna('unknown')

Убедимся, что всё отработало успешно.

In [73]:
df.isna().sum()

color                          0
director_name                  0
num_critic_for_reviews         0
duration                      84
director_facebook_likes        0
actor_3_facebook_likes         0
actor_2_name                   0
actor_1_facebook_likes         0
gross                        939
genres                         0
actor_1_name                   0
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                   0
facenumber_in_poster           0
plot_keywords                  0
movie_imdb_link                0
num_user_for_reviews           0
language                       0
country                        0
content_rating                 0
budget                       549
title_year                   174
actor_2_facebook_likes         0
imdb_score                    69
aspect_ratio                   0
movie_facebook_likes           0
dtype: int64

Длительность, бюджет и доход зависят от множества факторов, поэтому заполнять пропущенные значения какой-либо мерой центральной тенденции нельзя, так как это может существенно исказить результаты исследования. В этих столбцах пропуски лучше не учитывать.
При этом, рейтинг фильма сильно зависит от режиссёра, поэтому, недостающие значения в рейтинге можно заполнить средними с группировкой по режиссёру.

Проверим, есть ли в интересующих нас столбцах отрицательные значения.

In [74]:
skip_columns.remove("imdb_score")

for column in skip_columns:
    print(
        (df[column] < 0).sum()
    )

0
0
0
0

Отрицательных значений нет! Значит, можем заполнить пропуски значениями -1, чтобы отличать их от реальных данных.

In [75]:
for column in skip_columns:
    df[column] = df[column].fillna(-1)

Проверим, что всё прошло успешно.

In [76]:
df.isna().sum()

color                         0
director_name                 0
num_critic_for_reviews        0
duration                      0
director_facebook_likes       0
actor_3_facebook_likes        0
actor_2_name                  0
actor_1_facebook_likes        0
gross                         0
genres                        0
actor_1_name                  0
movie_title                   0
num_voted_users               0
cast_total_facebook_likes     0
actor_3_name                  0
facenumber_in_poster          0
plot_keywords                 0
movie_imdb_link               0
num_user_for_reviews          0
language                      0
country                       0
content_rating                0
budget                        0
title_year                    0
actor_2_facebook_likes        0
imdb_score                   69
aspect_ratio                  0
movie_facebook_likes          0
dtype: int64

Теперь заполним рейтинг средними значениями, сгруппировав по режиссёру.

In [77]:
group_director_imdb = df.groupby("director_name")["imdb_score"].transform("mean")
df["imdb_score"] = df["imdb_score"].fillna(group_director_imdb)
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000;
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0;
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000;
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000;
4,unknown,Doug Walker,unknown,-1.0,131.0,unknown,Rob Walker,131.0,-1.0,Documentary,...,unknown,unknown,unknown,unknown,-1.0,-1.0,12.0,7.1,unknown,0;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,-1.0,Comedy|Drama,...,6.0,English,Canada,unknown,-1.0,2013.0,470.0,7.7,unknown,84;
5039,Color,unknown,43.0,43.0,unknown,319.0,Valorie Curry,841.0,-1.0,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,-1.0,-1.0,593.0,7.5,16.0,32000;
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,-1.0,Drama|Horror|Thriller,...,3.0,English,USA,unknown,1400.0,2013.0,0.0,6.3,unknown,16;
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,-1.0,2012.0,719.0,6.3,2.35,660;
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456;

Убедимся, что пропуски заполнены.

In [78]:
df.isna().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

Проверим количество дубликатов и удалим их

In [79]:
df.duplicated().sum()

45

In [80]:
df = df.drop_duplicates().reset_index(drop=True)

In [81]:
df.duplicated().sum()

0

Убедимся, что неявных дубликатов в столбцах, необходимых для исследования, нет.

In [82]:
sorted(df["country"].unique())

['Afghanistan',
 'Argentina',
 'Aruba',
 'Australia',
 'Bahamas',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Egypt',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Kenya',
 'Kyrgyzstan',
 'Libya',
 'Mexico',
 'Netherlands',
 'New Line',
 'New Zealand',
 'Nigeria',
 'Norway',
 'Official site',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Poland',
 'Romania',
 'Russia',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Soviet Union',
 'Spain',
 'Sweden',
 'Switzerland',
 'Taiwan',
 'Thailand',
 'Turkey',
 'UK',
 'USA',
 'United Arab Emirates',
 'West Germany',
 'unknown']

In [83]:

sorted(df["language"].unique())

['Aboriginal',
 'Arabic',
 'Aramaic',
 'Bosnian',
 'Cantonese',
 'Chinese',
 'Czech',
 'Danish',
 'Dari',
 'Dutch',
 'Dzongkha',
 'English',
 'Filipino',
 'French',
 'German',
 'Greek',
 'Hebrew',
 'Hindi',
 'Hungarian',
 'Icelandic',
 'Indonesian',
 'Italian',
 'Japanese',
 'Kannada',
 'Kazakh',
 'Korean',
 'Mandarin',
 'Maya',
 'Mongolian',
 'Norwegian',
 'Panjabi',
 'Persian',
 'Polish',
 'Portuguese',
 'Romanian',
 'Russian',
 'Slovenian',
 'Spanish',
 'Swahili',
 'Swedish',
 'Tamil',
 'Telugu',
 'Thai',
 'Urdu',
 'Vietnamese',
 'Zulu',
 'unknown']

Теперь необходимо перевести значения в gross и budget в реальные доллары.

Спарсим данные о CPI за каждый год с 1913 по 2016 и соберём таблицу.

In [84]:
from bs4 import BeautifulSoup
import requests

url = "https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/"

r = requests.get(url)
data = r.text
soup = BeautifulSoup(data, "html.parser")

table = soup.findAll("table")
rows = table[0].findAll("tr")

years, cpis = [], []

for row in rows:
    year = row.find_all("td")[0].get_text()
    if year.isdigit() and int(year) < 2017:
        years.append(int(year))
        cpis.append(float(row.find_all("td")[13].get_text()))

cpi_table = pd.DataFrame({
    "year": years,
    "avg_annual_cpi": cpis
})
cpi_table.to_csv(r"..\data\Lab1\Lab1_Khalimov_CPI.csv")

Определим функцию перевода в реальные доллары и установим константу CPI за 2016 год.

In [85]:
def get_real_value(nominal_amt, old_cpi, new_cpi):
    real_value = nominal_amt * new_cpi / old_cpi
    return real_value

cpi_2016 = cpi_table[cpi_table["year"] == 2016]["avg_annual_cpi"].values[0]
print(cpi_2016)

240.007

Преобразуем значения дохода и бюджета в реальные доллары

In [86]:
cpi_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            104 non-null    int64
 1   avg_annual_cpi  104 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.8 KB

In [87]:
real_domestic_gross = []
real_budget_values = []

for index, row in df.iterrows():
    gross = row["gross"]
    budget = row["budget"]
    year = int(row["title_year"])

    cpi_series = cpi_table[cpi_table["year"] == year]["avg_annual_cpi"].values
    # Сразу по индексу не хочет давать значение, поэтому через values.
    # Так как не везде указан год, то некоторые списки получатся пустыми, их надо игнорировать.
    if len(cpi_series) > 0:
        cpi = cpi_series[0]
        real_gross = round(get_real_value(gross, cpi, cpi_2016))
        real_budget = round(get_real_value(budget, cpi, cpi_2016))
        real_domestic_gross.append(real_gross)
        real_budget_values.append(real_budget)
    else:
        # Если список оказался пустым, значит в датафрейме не был указан год, поэтому пишем -1(выброс) в значения реального бюджета и дохода
        real_domestic_gross.append(-1.0)
        real_budget_values.append(-1.0)

df["real_domestic_gross"] = real_domestic_gross
df["real_budget"] = real_budget_values

df.to_csv(r"..\data\Lab1\Lab1_Khalimov_FIT-221.csv")

Приступим к проверке гипотез

1. Чем больше рейтинг imdb, тем больше доход.
<br>
2. Большая часть фильмов на английском была снята в США.
<br>
3. Чем больше длительность, тем больший бюджет потребовался.

Гипотеза 1.

In [88]:

df_for_h1 = df.loc[df["real_domestic_gross"] >= 0]

df_for_h1["imdb_score"].corr(df_for_h1["real_domestic_gross"])

0.2125742915776185

Между доходом и рейтингом наблюдается совсем незначительная корреляция, утверждать о существенной взаимосвязи нельзя.

Гипотеза 2.

In [89]:
df_for_h2 = df.loc[df["language"] == "English"]
df_for_h2.groupby("country")["language"].count()

country
Aruba                1
Australia           51
Bahamas              1
Belgium              4
Brazil               1
Bulgaria             1
Cambodia             1
Cameroon             1
Canada             112
Chile                1
China                5
Czech Republic       2
Denmark              6
France              86
Georgia              1
Germany             79
Greece               1
Hong Kong            5
Hungary              1
Iceland              1
India                5
Iran                 1
Ireland             12
Italy               12
Japan                6
Kyrgyzstan           1
Libya                1
Mexico               3
Netherlands          1
New Line             1
New Zealand         15
Nigeria              1
Norway               4
Official site        1
Panama               1
Peru                 1
Philippines          1
Poland               1
Romania              2
Russia               1
Slovakia             1
South Africa         7
South Korea          6
Spain               20
Switzerland          2
Thailand             2
UK                 431
USA               3701
West Germany         1
unknown              2
Name: language, dtype: int64

3701 фильм на английском языке был снят в США, гипотеза подтвердилась!

Гипотеза 3.

In [90]:
# пропуски в duration заменяли на -1 
df_for_h3 = df.loc[df["duration"] >= 0]
df_for_h3 = df_for_h3.loc[df["real_budget"] >= 0]
df_for_h3["duration"].corr(df["real_budget"])

0.0878313222551681

Можем утверждать, что длительность фильма и его бюджет никак не связаны.